@using Indpro.Attendance.Business
@using Indpro.Attendance.Entity
@model Indpro.Attendance.WebApp.Models.ProfileLogModel

<div class="container">
    <div class="row">
        <div class="col-md-8 border">
            <br />
            @using (Html.BeginForm("Add", "Log", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-8">
                        @if (Model.ActiveTypes.Contains(LogType.Work))
                        {
                            @Html.RadioButtonFor(l => l.LogType, LogType.Work, new { @id = "rdoWork" })
                        }
                        else
                        {
                            @Html.RadioButtonFor(l => l.LogType, LogType.Work, new { @disabled = "disabled", @id = "rdoWork" })
                        }
                        <label for="rdoWork">Work</label>&nbsp;&nbsp;

                        @if (Model.ActiveTypes.Contains(LogType.Tea))
                        {
                            @Html.RadioButtonFor(l => l.LogType, LogType.Tea, new { @id = "rdoTea" })
                        }
                        else
                        {
                            @Html.RadioButtonFor(l => l.LogType, LogType.Tea, new { @disabled = "disabled", @id = "rdoTea" })
                        }
                        <label for="rdoTea">Tea</label>&nbsp;&nbsp;

                        @if (Model.ActiveTypes.Contains(LogType.Lunch))
                        {
                            @Html.RadioButtonFor(l => l.LogType, LogType.Lunch, new { @id = "rdoLunch" })
                        }
                        else
                        {
                            @Html.RadioButtonFor(l => l.LogType, LogType.Lunch, new { @disabled = "disabled", @id = "rdoLunch" })
                        }
                        <label for="rdoLunch">Lunch</label>&nbsp;&nbsp;

                        @if (Model.ActiveTypes.Contains(LogType.Others))
                        {
                            @Html.RadioButtonFor(l => l.LogType, LogType.Others, new { @id = "rdoOthers" })
                        }
                        else
                        {
                            @Html.RadioButtonFor(l => l.LogType, LogType.Others, new { @disabled = "disabled", @id = "rdoOthers" })
                        }
                        <label for="rdoOthers">Others</label>
                    </div>
                    <div class="col-md-2">@Html.Label("Select Date")</div>
                    <div class="col-md-4">@Html.EditorFor(l => l.LogDate, "0:yyyy-MM-dd hh:mm", new { @class = "form-control " })</div>
                </div>

                if (Model.ActiveStatuses.Contains(IsInTime.True))
                {
                    <input type="submit" id="btnIn" name="command" class="btn bg-primary" value="Click here to Login Time" />
                }
                else
                {
                    <input type="submit" id="btnIn" name="command" class="btn btn-primary" value="Click here to Login Time" disabled="disabled" />
                }
                <span>&nbsp;&nbsp;&nbsp;</span>
                if (Model.ActiveStatuses.Contains(IsInTime.False))
                {
                    <input type="submit" id="btnOut" name="command" class="btn btn-danger" value="Click here to Logout Time" />
                }
                else
                {
                    <input type="submit" id="btnOut" name="command" class="btn btn-danger" value="Click here to Logout Time" disabled="disabled" />
                }

                if (!string.IsNullOrEmpty(@Model.Error))
                {
                    <div class="mt10 row">
                        <div class="col-md-5 alert-danger">@Model.Error</div>
                    </div>
                }
            }
            <br />
        </div>
    </div>
</div>

<br />

<div class="container">
    <div class="row">
        <div class="col-md-2">@Html.Label("Select Date")</div>
        <div class="col-md-2">@Html.EditorFor(l => l.LogListDate, "0:yyyy-MM-dd", new { @maxlength = "10", @class = "form-control datepicker" })</div>
        <div class="col-md-2"><input id="btnLoadReport" type="button" value="Show" class="btn btn-info" onclick="LoadLogList();" /></div>
        <br />
        <div class="row">
            <div class="col-md-8 border">
                <table class="table table-bordered table-striped">
                    <tr>
                        <th>LogType</th>
                        <th>LoggedTime</th>
                        <th>IsInTime</th>
                    </tr>
                    @foreach (var PLD in @Model.LogList)
                    {
                        <tr>
                            <td>@PLD.LogType</td>
                            <td>@PLD.LoggedTime</td>
                            <td>@(PLD.IsInTime ? "In" : "Out")</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function LoadLogList() {
        location.href = '/Log?reportDate=' + document.getElementById('LogListDate').value;
    }
</script>