@using Indpro.Attendance.Entity;
@model Indpro.Attendance.WebApp.Models.LogModel

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>New LogTiming</h2><br />

                        @using (Html.BeginForm("Add", "Log", FormMethod.Post))
            {
                <button type="submit" id="btnIn" value="In" name="command">In</button>
            <button type="submit" id="btnOut" value="Out" name="command">Out</button>

                    <div class="row">
                        <div class="col-md-2">@Html.Label("LogType")</div>
                        <div class="col-md-6">
                            @Html.RadioButtonFor(l => l.LogType, LogType.Work, new { @id = "rdoWork" })
                            <label for="rdoWork">Work</label>
                            @Html.RadioButtonFor(l => l.LogType, LogType.Tea, new { @id = "rdoTea" })
                            <label for="rdoTea">Tea</label>
                            @Html.RadioButtonFor(l => l.LogType, LogType.Lunch, new { @id = "rdoLunch" })
                            <label for="rdoLunch">Lunch</label>
                            @Html.RadioButtonFor(l => l.LogType, LogType.Others, new { @id = "rdoOthers" })
                            <label for="rdoOthers">Others</label>
                        </div>
                    </div>
            }
        </div>
    </div>
</div>
