@using Indpro.Attendance.Business
@model Indpro.Attendance.WebApp.Areas.Admin.Models.UserModel

@{
    Dictionary<int, string> roles = UserHandler.GetRoles();
    SelectList selectRoles = new SelectList(roles, "Key", "Value");
}

<div class="container">
    <div class="row">
        <div class="col-md-10 border">
            <h2>Edit User</h2><br />
            @using (Html.BeginForm("Edit", "Users", FormMethod.Post))
            {
                @Html.HiddenFor(u => u.UserID)
                @Html.HiddenFor(u => u.EmployeeID)

                <div class="row">
                    <div class="col-md-2">@Html.Label("Employee No")</div>
                    <div class="col-md-2">@Html.DisplayFor(u => u.EmployeeNo, new { Class = "form-control" })</div>
                </div>

                <div class="mt10 row">
                    <div class="col-md-2">@Html.Label("User name")</div>
                    <div class="col-md-2">@Html.TextBoxFor(u => u.UserName, new { Class = "form-control" })</div>
                    <div class="col-md-2">@Html.ValidationMessageFor(u => u.UserName)</div>
                </div>

                <div class="mt10 row">
                    <div class="col-md-2">@Html.Label("Password")</div>
                    <div class="col-md-2">@Html.PasswordFor(u => u.Password, new { Class = "form-control" })</div>
                    <div class="col-md-2">@Html.ValidationMessageFor(u => u.Password)</div>
                </div>

                <div class="mt10 row">
                    <div class="col-md-2">@Html.Label("Role")</div>
                    <div class="col-md-2">@Html.DropDownListFor(m => m.RoleID, @selectRoles, new { Class = "form-control" })</div>
                </div>

                <input type="submit" value="Submit" class="btn btn-primary" />

                if (!string.IsNullOrEmpty(@Model.Error))
                {
                    <div class="mt10 row">
                        <div class="col-md-5 alert-danger">@Model.Error</div>
                    </div>
                }
            }
            <br />
        </div>
    </div>
</div>
