@using Indpro.Attendance.Entity
@model Indpro.Attendance.WebApp.Areas.Admin.Models.EmployeeModel

<div class="container">
    <div class="row">
        <div class="col-md-10 border">
            <h3>Add new employee</h3>
            <br />
            @if (Model.EmployeeID > 0)
            {
                <div class="row">
                    <div class="col-md-8 info">
                        Employee added successfully.<br />
                        Auto generated "Employee No" is @Model.EmployeeNo<br />
                        @Html.ActionLink("Click here to add another employee", "NewEmployee")
                    </div>
                </div>
            }
            else
            {
                using (Html.BeginForm("Add", "Employees", FormMethod.Post))
                {
                    @Html.HiddenFor(e => e.EmployeeID)
                    <div class="row">
                        <div class="col-md-2">@Html.Label("Name")</div>
                        <div class="col-md-2">@Html.TextBoxFor(u => u.EmployeeName, new { @class = "form-control" })</div>
                        <div class="col-md-2">@Html.ValidationMessageFor(u => u.EmployeeName)</div>
                    </div>

                    <div class="mt10 row">
                        <div class="col-md-2">@Html.Label("Gender")</div>
                        <div class="col-md-2">
                            @Html.RadioButtonFor(e => e.Gender, Gender.Male, new { @id = "rdoMale" })
                            <label for="rdoMale">Male</label>
                            &nbsp;
                            @Html.RadioButtonFor(e => e.Gender, Gender.Female, new { @id = "rdoFeMale" })
                            <label for="rdoFeMale">FeMale</label>
                        </div>
                        <div class="col-md-2">@Html.ValidationMessageFor(u => u.Gender)</div>
                    </div>

                    <div class="mt10 row">
                        <div class="col-md-2">@Html.Label("Designation")</div>
                        <div class="col-md-2">@Html.TextBoxFor(u => u.EmployeeDesignation, new { @class = "form-control" })</div>
                        <div class="col-md-2">@Html.ValidationMessageFor(u => u.EmployeeDesignation)</div>
                    </div>

                    <div class="mt10 row">
                        <div class="col-md-2">@Html.Label("Qualification")</div>
                        <div class="col-md-2">@Html.TextBoxFor(u => u.EmployeeQualification, new { @class = "form-control" })</div>
                    </div>
                    <div class="mt10 row">
                        <div class="col-md-2">@Html.Label("Date of birth")</div>
                        <div class="col-md-2">@Html.TextBoxFor(u => u.EmployeeDOB, new { @class = "form-control datepicker" })</div>
                        <div class="col-md-2">@Html.ValidationMessageFor(u => u.EmployeeDOB)</div>
                    </div>
                    <div class="mt10 row">
                        <div class="col-md-2">@Html.Label("Date of join")</div>
                        <div class="col-md-2">@Html.TextBoxFor(u => u.EmployeeDOJ, new { @class = "form-control datepicker" })</div>
                        <div class="col-md-2">@Html.ValidationMessageFor(u => u.EmployeeDOJ)</div>
                    </div>

                    <div class="mt10 row">
                        <div class="col-md-2">@Html.Label("Address")</div>
                        <div class="col-md-2">@Html.TextBoxFor(u => u.EmployeeAddress, new { Class = "form-control" })</div>
                    </div>

                    <div class="mt10 row">
                        <div class="col-md-2">@Html.Label("Mobile")</div>
                        <div class="col-md-2">@Html.TextBoxFor(u => u.EmployeeMobileNo, new { Class = "form-control" })</div>
                        <div class="col-md-2">@Html.ValidationMessageFor(u => u.EmployeeMobileNo)</div>
                    </div>

                    <div class="mt10 row">
                        <div class="col-md-2">@Html.Label("Skype")</div>
                        <div class="col-md-2">@Html.TextBoxFor(u => u.EmployeeSkypeID, new { Class = "form-control" })</div>
                    </div>

                    <div class="mt10 row">
                        <div class="col-md-2">@Html.Label("Email")</div>
                        <div class="col-md-2">@Html.TextBoxFor(u => u.EmployeeEmailID, new { Class = "form-control" })</div>
                        <div class="col-md-2">@Html.ValidationMessageFor(u => u.EmployeeEmailID)</div>
                    </div>

                    <input type="submit" value="Submit" class="mt10 btn btn-primary" /><span>&nbsp;&nbsp;</span>
                    @Html.ActionLink("Back", "Index", null, new { @class = "mt10 btn btn-primary" })

                    if (!string.IsNullOrEmpty(@Model.Error))
                    {
                        <div class="mt10 row">
                            <div class="col-md-5 alert-danger">@Model.Error</div>
                        </div>
                    }
                }
            }
            <br />
        </div>
    </div>
</div>