@model WebApp.Models.EmployeeModel

@using (Html.BeginForm("Update", "Employees", FormMethod.Post))
{
     @Html.HiddenFor(e=>e.EmployeeID)
    
    <span>EmployeeNo:</span>
    @Html.TextBoxFor(e=>e.EmployeeNo)
    
    <span>EmployeeName:</span>
    @Html.TextBoxFor(e => e.EmployeeName)
    
     <span>Gender:</span>
    @Html.TextBoxFor(e => e.Gender)
    
     <span>EmployeeDesignation:</span>
    @Html.TextBoxFor(e => e.EmployeeDesignation)
    
     <span>EmployeeQualification:</span>
    @Html.TextBoxFor(e => e.EmployeeQualification)
    
     <span>EmployeeDOB:</span>
    @Html.TextBoxFor(e => e.EmployeeDOB)
    
     <span>EmployeeDOJ:</span>
    @Html.TextBoxFor(e => e.EmployeeDOJ)
    
     <span>EmployeeImage:</span>
    @Html.TextBoxFor(e => e.EmployeeImage)
    
     <span>EmployeeAddress:</span>
    @Html.TextBoxFor(e => e.EmployeeAddress)
    
     <span>EmployeeMobileNo:</span>
    @Html.TextBoxFor(e => e.EmployeeMobileNo)
    
     <span>EmployeeSkypeID:</span>
    @Html.TextBoxFor(e => e.EmployeeSkypeID)
    
     <span>EmployeeEmailID:</span>
    @Html.TextBoxFor(e => e.EmployeeEmailID)
    
    <input type="submit" value="Submit" />
}