@using Indpro.Attendance.Entity
@model Indpro.Attendance.WebApp.Models.EmployeeModel


<div class="container">
    <div class="row">
    <div class="col-md-12">
        <h2>Edit Employee</h2><br />
        
        @if (!string.IsNullOrEmpty(Model.Error))
        {
            <div class="row">
                <div class="col-md-8 danger">@Model.Error</div>
            </div>
        }
        
        @using (Html.BeginForm("Update", "Employees", FormMethod.Post))
        { 
            @Html.HiddenFor(e => e.EmployeeID)
            
            <div class="row">
                <div class="col-md-2">@Html.Label("Employee No")</div>
                <div class="col-md-3">@Html.DisplayFor(u => u.EmployeeNo, new { Class = "form-control" })</div>
            </div>
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-md-2">@Html.Label("Name")</div>
                <div class="col-md-3">@Html.TextBoxFor(u => u.EmployeeName, new { Class = "form-control" })</div>
            </div>
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-md-2">@Html.Label("Gender")</div>
                <div class="col-md-3">
                    @Html.RadioButtonFor(e => e.Gender, Gender.Male, new { @id = "rdoMale" })
                    <label for="rdoMale">Male</label>
                    &nbsp;
                    @Html.RadioButtonFor(e => e.Gender, Gender.Female, new { @id = "rdoFeMale" })
                    <label for="rdoFeMale">FeMale</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-md-2">@Html.Label("Designation")</div>
                <div class="col-md-3">@Html.TextBoxFor(u => u.EmployeeDesignation, new { Class = "form-control" })</div>
            </div>
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-md-2">@Html.Label("Qualification")</div>
                <div class="col-md-3">@Html.TextBoxFor(u => u.EmployeeQualification, new { Class = "form-control" })</div>
            </div>
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
            </div>

            <div class="row">
                <div class="col-md-2">@Html.Label("Date of birth")</div>                
                    <div class="col-md-4">@Html.EditorFor(u => u.EmployeeDOB, new { Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-md-2">@Html.Label("Date of join")</div>                    
                    <div class="col-md-3">@Html.EditorFor(u => u.EmployeeDOJ, new { Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>

                @*<div class="row">
                        <div class="col-md-2">@Html.Label("EmployeeImage")</div>
                        <div class="col-md-3">@Html.TextBoxFor(u => u.EmployeeImage, new { Class = "form-control" })</div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">&nbsp;</div>
                    </div>*@

                <div class="row">
                    <div class="col-md-2">@Html.Label("Address")</div>
                    <div class="col-md-3">@Html.TextBoxFor(u => u.EmployeeAddress, new { Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-md-2">@Html.Label("Mobile")</div>
                    <div class="col-md-3">@Html.TextBoxFor(u => u.EmployeeMobileNo, new { Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-md-2">@Html.Label("Skype")</div>
                    <div class="col-md-3">@Html.TextBoxFor(u => u.EmployeeSkypeID, new { Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-md-2">@Html.Label("Email")</div>
                    <div class="col-md-3">@Html.TextBoxFor(u => u.EmployeeEmailID, new { Class = "form-control" })</div>
                </div>
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
            </div>
            
            <div class="row">
                    <div class="col-md-2">@Html.Label("IsActive")</div>
                    <div class="col-md-3">@Html.CheckBoxFor(u => u.IsActive, new { Class = "form-control" })</div>
                </div>
            <div class="row">
                <div class="col-md-1">&nbsp;</div>
            </div>

                <input type="submit" value="Submit" class="btn btn-primary" />
                    @Html.ValidationSummary();
                }
        </div>
    </div>
</div>

