@model List<Indpro.Attendance.WebApp.Models.EmployeeModel>

<table class="table table-bordered table-striped">
    <tr>
        <th>Employee No</th>
        <th>Name</th>
        <th>Designation</th>
        <th>Qualification</th>
        <th>Date of Join</th>
        <th>Mobile</th>
        <th>Skype</th>
        <th>Email</th>
        <th>Edit</th>
        @*<th>Work Log</th>*@
    </tr>

    @foreach (var u in Model)
    {
        <tr>
            <td>@u.EmployeeNo</td>
            <td>@u.EmployeeName</td>
            <td>@u.EmployeeDesignation</td>
            <td>@u.EmployeeQualification</td>
            <td>@u.EmployeeDOJ</td>
            <td>@u.EmployeeMobileNo</td>
            <td>@u.EmployeeSkypeID</td>
            <td>@u.EmployeeEmailID</td>
            <td>@Html.ActionLink("Edit", "Edit", "Employees", new { id = u.EmployeeID }, null)</td>
            <td>@Html.ActionLink("Delete", "Delete", "Employees", new { id = u.EmployeeID }, null)</td>
            @*<td>@Html.ActionLink("Work Log", "WorkLog", "Employees", new { id = u.EmployeeID }, null)</td>*@
        </tr>
    }
</table>