@model WebApp.Models.EmployeeModel

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Employees</h2>
            @using (Html.BeginForm("Add", "Employees", FormMethod.Post))
            {@Html.HiddenFor(e => e.EmployeeID)
                <table class="table table-bordered table-striped">
                    <tr>
                        <td>
                            @Html.LabelFor(e => e.EmployeeNo)
                        </td>
                        <td>
                            @Html.TextBoxFor(e => e.EmployeeNo)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.LabelFor(e => e.EmployeeName)
                        </td>
                        <td>
                            @Html.TextBoxFor(e => e.EmployeeName)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.LabelFor(e => e.Gender)
                        </td>
                        <td>
                            @Html.TextBoxFor(e => e.Gender)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.LabelFor(e => e.EmployeeQualification)
                        </td>
                        <td>
                            @Html.TextBoxFor(e => e.EmployeeQualification)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.LabelFor(e => e.EmployeeDesignation)
                        </td>
                        <td>
                            @Html.TextBoxFor(e => e.EmployeeDesignation)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.LabelFor(e => e.EmployeeDOB)
                        </td>
                        <td>
                            @Html.TextBoxFor(e => e.EmployeeDOB)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.LabelFor(e => e.EmployeeDOJ)
                        </td>
                        <td>
                            @Html.TextBoxFor(e => e.EmployeeDOJ)
                    </tr>

                    <tr>
                        <td>
                            @Html.LabelFor(e => e.EmployeeImage)
                        </td>
                        <td>
                            @Html.TextBoxFor(e => e.EmployeeImage)
                    </tr>

                    <tr>
                        <td>
                            @Html.LabelFor(e => e.EmployeeAddress)
                        </td>
                        <td>
                            @Html.TextBoxFor(e => e.EmployeeAddress)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.LabelFor(e => e.EmployeeMobileNo)
                        </td>
                        <td>
                            @Html.TextBoxFor(e => e.EmployeeMobileNo)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.LabelFor(e => e.EmployeeSkypeID)
                        </td>
                        <td>
                            @Html.TextBoxFor(u => u.EmployeeSkypeID)
                        </td>
                    </tr>

                    <tr>
                        <td>
                            @Html.LabelFor(a => a.EmployeeEmailID)
                        </td>
                        <td>
                            @Html.TextBoxFor(e => e.EmployeeEmailID)
                        </td>
                    </tr>
                </table>
                <input type="submit" value="Submit" class="btn btn-primary" />
            }
        </div>
    </div>
</div>

