@using Indpro.Attendance.Entity;
@model Indpro.Attendance.WebApp.Models.LogTimeModel

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Edit LogTime</h2>

            @using (Html.BeginForm("Update", "LogTimes", FormMethod.Post))
            {
                @Html.HiddenFor(l => l.LogTimeID)

                <div class="row">
                    <div class="col-md-2">@Html.Label("EmployeeID")</div>
                    <div class="col-md-2">@Html.TextBoxFor(u => u.EmployeeID, new { Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>

                  @Html.LabelFor(e => e.LoggedTime)
                <div class='input-group date'>
                    @if (Model.LoggedTime != DateTime.MinValue)
                    {                        
                        @Html.TextBoxFor(m => m.LoggedTime, new { @Value = Model.LoggedTime.ToString("yyyy-MM-dd hh:mm:ss"), @class = " datetimepicker form-control" })
                    }
                    else
                    {
                        Model.LoggedTime = DateTime.Now;
                        @Html.TextBoxFor(m => m.LoggedTime, new { @class = "form-control" })
                    }
                    
                </div>

                <div class="row">
                    <div class="col-md-2">@Html.Label("LogType")</div>
                    <div class="col-md-6">
                        <label for="rdoWork">Work</label>
                        @Html.RadioButtonFor(l => l.LogType, LogType.Work, new { @id = "rdoWork" })
                        <label for="rdoTea">Tea</label>
                        @Html.RadioButtonFor(l => l.LogType, LogType.Tea, new { @id = "rdoTea" })
                        <label for="rdoLunch">Lunch</label>
                        @Html.RadioButtonFor(l => l.LogType, LogType.Lunch, new { @id = "rdoLunch" })
                        <label for="rdoOthers">Others</label>
                        @Html.RadioButtonFor(l => l.LogType, LogType.Others, new { @id = "rdoOthers" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>
                
                <div class="row">
                    <div class="col-md-2">@Html.Label("IsInTime")</div>
                    <label for="rdoTrue">True</label>
                    @Html.RadioButtonFor(l => l.IsInTime, IsInTime.True, new { @id = "rdoTrue" })
                    <label for="rdoFalse">False</label>
                    @Html.RadioButtonFor(l => l.IsInTime, IsInTime.False, new { @id = "rdoFalse" })
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>
                
                <input type="submit" value="Submit" class="btn btn-primary" />
            }

        </div>

    </div>
</div>
