@model List<WebApp.Models.LogTimeModel>

<table class="table table-bordered table-striped">
    <tr>
       
        <th>EmployeeID</th>
        <th>LoggedTime</th>
        <th>LogTypeID</th>
        <th>IsInTime</th>
    </tr>

    @foreach (var l in Model)
    {
        <tr>
            
            <td>@l.EmployeeID</td>
            <td>@l.LoggedTime</td>
            <td>@l.LogTypeID</td>
            <td>@l.IsInTime</td>


            <td>@Html.ActionLink("Edit", "Edit", "LogTimes", new { id = l.LogTimeID }, null)</td>
            <td>@Html.ActionLink("Delete", "Delete", "LogTimes", new { id = l.LogTimeID }, null)</td>
        </tr>
    }

</table>

