@using Indpro.Attendance.Business
@using Indpro.Attendance.Entity;
@model Indpro.Attendance.WebApp.Models.LogTimeModel
           
@{
    Dictionary<int, string> employeenos = UserHandler.GetEmployeeNos();
    SelectList selectEmployeeNos = new SelectList(employeenos, "Key", "value");
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>New LogTime</h2><br />

            @using (Html.BeginForm("Add", "LogTimes", FormMethod.Post))
            {
                @Html.HiddenFor(l => l.LogTimeID)
                               
                <div class="row">
                    <div class="col-md-2">@Html.Label("Employee No")</div>
                    <div class="col-md-4">@Html.DropDownListFor(u => u.EmployeeID, @selectEmployeeNos, new { Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-md-2">@Html.LabelFor(e => e.LoggedTime)</div>
                    <div class="col-md-4">@Html.TextBoxFor(l=>l.LoggedTime, new { Class = "form-control" })</div>
                 </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-md-2">@Html.Label("LogType")</div>
                    <div class="col-md-6">                        
                        @Html.RadioButtonFor(l => l.LogType, LogType.Work, new { @id = "rdoWork" })
                        <label for="rdoWork">Work</label>
                        @Html.RadioButtonFor(l => l.LogType, LogType.Tea, new { @id = "rdoTea" })
                        <label for="rdoTea">Tea</label>                       
                        @Html.RadioButtonFor(l => l.LogType, LogType.Lunch, new { @id = "rdoLunch" })
                        <label for="rdoLunch">Lunch</label>                        
                        @Html.RadioButtonFor(l => l.LogType, LogType.Others, new { @id = "rdoOthers" })
                        <label for="rdoOthers">Others</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>
                
                <div class="row">
                    <div class="col-md-2">@Html.Label("IsInTime")</div>
                    <div class="col-md-4">
                        @Html.RadioButtonFor(l => l.IsInTime, IsInTime.True, new { @id = "rdoTrue" })
                        <label for="rdoTrue">True</label>
                        @Html.RadioButtonFor(l => l.IsInTime, IsInTime.False, new { @id = "rdoFalse" })
                        <label for="rdoFalse">False</label>
                    </div>
                    </div>

                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>
                
                <input type="submit" value="Submit" class="btn btn-primary" /><br />
                @Html.ValidationSummary();
            }
        </div>
    </div>
</div>