@using Indpro.Attendance.Business
@model WebApp.Models.UserModel

@{

    Dictionary<int, string> roles = UserHandler.GetRoles();
    SelectList selectRoles = new SelectList(roles, "Key", "Value");
    
    Dictionary<int, string> employeenos = UserHandler.GetEmployeeNos();
    SelectList selectEmployeeNos = new SelectList(employeenos, "Key", "value");
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Edit User</h2>
            @using (Html.BeginForm("Update", "Users", FormMethod.Post))
            {
                @Html.HiddenFor(u => u.UserID)
                @Html.HiddenFor(u => u.EmployeeID)
                
                <div class="row">
                    <div class="col-md-2">@Html.Label("EmployeeNo")</div>
                    <div class="col-md-2">@Html.DropDownListFor(u => u.EmployeeID, @selectEmployeeNos)</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>
                
                 <div class="row">
                    <div class="col-md-2">@Html.Label("User name")</div>
                    <div class="col-md-2">@Html.TextBoxFor(u => u.UserName, new { Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>
                
                <div class="row">
                    <div class="col-md-2">@Html.Label("Password")</div>
                    <div class="col-md-2">@Html.TextBoxFor(u => u.Password, new { Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>
                
                <div class="row">
                    <div class="col-md-2">@Html.Label("Role")</div>
                    <div class="col-md-2">@Html.DropDownListFor(m=>m.RoleID,@selectRoles)</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>

            <input type="submit" value="Submit" class="btn btn-primary" />
                
            }
        </div>
    </div>
</div>
