@using Indpro.Attendance.Business
@model Indpro.Attendance.WebApp.Models.UserModel

@{
    Dictionary<int, string> roles = UserHandler.GetRoles();
    SelectList selectRoles = new SelectList(roles, "Key", "Value");

    Dictionary<int, string> employeenos = UserHandler.GetEmployeeNos();
    SelectList selectEmployeeNos = new SelectList(employeenos, "Key", "value");
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Add User</h2>
            <br />
            @using (Html.BeginForm("Add", "Users", FormMethod.Post))
            {
                <div class="row">
                    <div class="col-md-2">@Html.Label("Employee No")</div>
                    <div class="col-md-2">@Html.DropDownListFor(u => u.EmployeeID, @selectEmployeeNos, new { Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-md-2">@Html.Label("User name")</div>
                    <div class="col-md-2">@Html.TextBoxFor(u => u.UserName, new { Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-md-2">@Html.Label("Password")</div>
                    <div class="col-md-2">@Html.PasswordFor(u => u.Password, new { Class = "form-control"})</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>

                <div class="row">
                    <div class="col-md-2">@Html.Label("Role")</div>
                    <div class="col-md-2">@Html.DropDownListFor(m => m.RoleID, @selectRoles, new { Class = "form-control" })</div>
                </div>
                <div class="row">
                    <div class="col-md-1">&nbsp;</div>
                </div>

                <input type="submit" value="submit" class="btn btn-primary">
                @Html.ValidationSummary();
            }
        </div>
    </div>
</div>