@model WebApp.Models.UserModel


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Users</h2>

 @using (Html.BeginForm("Add", "Users", FormMethod.Post))
      { 
            @Html.HiddenFor(u => u.UserID)
           @Html.HiddenFor(u=>u.EmployeeID)
          @Html.HiddenFor(u=>u.Password)
                
            <table class="table table-bordered table-striped">        

        <tr>
            <td>
                @Html.LabelFor(u => u.EmployeeID)
            </td>
            <td>
                @Html.TextBoxFor(u => u.EmployeeID)

            </td>
        </tr>

         <tr>
                 <td>
                        @Html.LabelFor(u => u.UserName)
                </td>
                <td>
                        @Html.TextBoxFor(u => u.UserName)
                </td>
        </tr>

           <tr>
               <td>
                   @Html.LabelFor(u => u.Password)
               </td>
               <td>
                   @Html.TextBoxFor(u => u.Password)
               </td> 
           </tr>

    </table>

            <input type="submit" value="submit" class="btn btn-primary">
 }
        </div>
    </div>
</div>