@model List<WebApp.Models.UserModel>

<table class="table table-bordered table-striped">
    <tr>
        <th>EmployeeNo</th>
        <th>UserName</th>
        <th>EmployeeName</th>
        <th>EmailID</th>
    </tr>
    @foreach (var u in Model)
    {
        <tr>
            <td>@u.EmployeeNo</td>
            <td>@u.UserName</td>
            <td>@u.EmployeeName</td>
            <td>@u.EmployeeEmailID</td>

            <td>@Html.ActionLink("Edit", "Edit", "Users", new { id = u.UserID },null)</td>
            @*<td>@Html.ActionLink("Delete", "Delete", "Users", new { id = u.UserID },null)</td>*@

        </tr>
    }
</table>