@using Indpro.Attendance.Entity
@model Indpro.Attendance.WebApp.Models.ProfileModel

<div class="container">
    <div class="row">
        <div class="col-md-10 border">
            <h3>My Profile</h3>
            <br />
            @using (Html.BeginForm("Edit", "Profile", FormMethod.Post))
            {
                @Html.HiddenFor(e => e.employeeId)

                <div class="row">
                    <div class="col-md-2">@Html.Label("Employee No")</div>
                    <div class="col-md-2">@Html.DisplayFor(u => u.EmployeeNo, new { Class = "form-control" })</div>
                </div>

                <div class="row">
                    <div class="col-md-2">@Html.Label("Name")</div>
                    <div class="col-md-2">@Html.TextBoxFor(u => u.Name, new { @class = "form-control" })</div>
                    <div class="col-md-2">@Html.ValidationMessageFor(u => u.Name)</div>
                </div>
               
                 <div class="mt10 row">
                <div class="col-md-2">@Html.Label("Gender")</div>
                <div class="col-md-2">
                    @if (Model.Gender == Gender.Male)
                    {
                        <span>Male</span>
                    }
                    else
                    {
                        <span>FeMale</span>
                    }
                </div>
            </div>

                
                <div class="mt10 row">
                    <div class="col-md-2">@Html.Label("Designation")</div>
                    <div class="col-md-2">@Html.DisplayFor(u => u.Designation, new { @class = "form-control" })</div>
                </div>

                <div class="mt10 row">
                    <div class="col-md-2">@Html.Label("Qualification")</div>
                    <div class="col-md-2">@Html.TextBoxFor(u => u.Qualification, new { @class = "form-control" })</div>
                </div>

                <div class="mt10 row">
                    <div class="col-md-2">@Html.Label("Date of birth")</div>
                    <div class="col-md-2">@Html.TextBoxFor(u => u.Dateofbirth, new { @class = "form-control datepicker" })</div>
                    <div class="col-md-2">@Html.ValidationMessageFor(u => u.Dateofbirth)</div>
                </div>

                <div class="mt10 row">
                    <div class="col-md-2">@Html.Label("Date of joining")</div>
                    <div class="col-md-2">@Html.TextBoxFor(u => u.Dateofjoining, new { @class = "form-control datepicker" })</div>
                    <div class="col-md-2">@Html.ValidationMessageFor(u => u.Dateofjoining)</div>
                </div>
                <div class="mt10 row">
                    <div class="col-md-2">@Html.Label("Address")</div>
                    <div class="col-md-2">@Html.TextBoxFor(u => u.Address, new { Class = "form-control" })</div>
                </div>

                <div class="mt10 row">
                    <div class="col-md-2">@Html.Label("Mobile")</div>
                    <div class="col-md-2">@Html.TextBoxFor(u => u.MobileNo, new { Class = "form-control" })</div>
                    <div class="col-md-2">@Html.ValidationMessageFor(u => u.MobileNo)</div>
                </div>

                <div class="mt10 row">
                    <div class="col-md-2">@Html.Label("Skype")</div>
                    <div class="col-md-2">@Html.TextBoxFor(u => u.SkypeID, new { Class = "form-control" })</div>
                </div>

                <div class="mt10 row">
                    <div class="col-md-2">@Html.Label("Email")</div>
                    <div class="col-md-2">@Html.TextBoxFor(u => u.EmailID, new { Class = "form-control" })</div>
                    <div class="col-md-2">@Html.ValidationMessageFor(u => u.EmailID)</div>
                </div>

                <input type="submit" value="Save" class="mt10 btn btn-primary" /><span>&nbsp;&nbsp;</span>
                @Html.ActionLink("Back", "Index", null, new { @class = "mt10 btn btn-primary" })

                if (!string.IsNullOrEmpty(@Model.Error))
                {
                    <div class="mt10 row">
                        <div class="col-md-5 alert-danger">@Model.Error</div>
                    </div>
                }
            }
            <br />
        </div>
    </div>
</div>

