@using Indpro.Attendance.Entity
@model Indpro.Attendance.WebApp.Models.ProfileModel

<div class="container">
    <div class="row">
        <div class="col-md-10 border">
            <h3>My Profile</h3>
            <br />

            @Html.HiddenFor(e => e.employeeId)

            <div class="row">
                <div class="col-md-2">@Html.Label("Employee No")</div>
                <div class="col-md-3">@Html.DisplayFor(u => u.EmployeeNo, new { Class = "form-control" })</div>
            </div>

            <div class="row">
                <div class="col-md-2">@Html.Label("Name")</div>
                <div class="col-md-2">@Html.DisplayFor(u => u.Name, new { @class = "form-control" })</div>

            </div>

            <div class="mt10 row">
                <div class="col-md-2">@Html.Label("Gender")</div>
                <div class="col-md-3">
                    @if (Model.Gender == Gender.Male)
                    {
                        <span>Male</span>
                    }
                    else
                    {
                        <span>FeMale</span>
                    }
                </div>
            </div>

            <div class="mt10 row">
                <div class="col-md-2">@Html.Label("Designation")</div>
                <div class="col-md-3">@Html.DisplayFor(u => u.Designation, new { @class = "form-control" })</div>
            </div>

            <div class="mt10 row">
                <div class="col-md-2">@Html.Label("Qualification")</div>
                <div class="col-md-3">@Html.DisplayFor(u => u.Qualification, new { @class = "form-control" })</div>
            </div>

            <div class="mt10 row">
                <div class="col-md-2">@Html.Label("Date of birth")</div>
                <div class="col-md-4">@Html.DisplayFor(u => u.Dateofbirth, new { @class = "form-control" })</div>

            </div>

            <div class="mt10 row">
                <div class="col-md-2">@Html.Label("Date of joining")</div>
                <div class="col-md-4">@Html.DisplayFor(u => u.Dateofjoining, new { @class = "form-control" })</div>

            </div>
            <div class="mt10 row">
                <div class="col-md-2">@Html.Label("Address")</div>
                <div class="col-md-3">@Html.DisplayFor(u => u.Address, new { Class = "form-control" })</div>
            </div>

            <div class="mt10 row">
                <div class="col-md-2">@Html.Label("Mobile")</div>
                <div class="col-md-3">@Html.DisplayFor(u => u.MobileNo, new { Class = "form-control" })</div>

            </div>

            <div class="mt10 row">
                <div class="col-md-2">@Html.Label("Skype")</div>
                <div class="col-md-3">@Html.DisplayFor(u => u.SkypeID, new { Class = "form-control" })</div>
            </div>

            <div class="mt10 row">
                <div class="col-md-2">@Html.Label("Email")</div>
                <div class="col-md-3">@Html.DisplayFor(u => u.EmailID, new { Class = "form-control" })</div>

            </div>

            @Html.ActionLink("Edit", "Edit", null, new { @class = "mt10 btn btn-primary" })
            <br /><br />
        </div>
    </div>
</div>

