@using Indpro.Attendance.Entity;
@model Indpro.Attendance.WebApp.Areas.Admin.Models.LogTimeModel

<div class="container">
    <div class="row">
        <div class="col-md-10 border">
            <h3>Edit LogTime</h3><br />

            @using (Html.BeginForm("Edit", "LogTimes", FormMethod.Post))
            {
                @Html.HiddenFor(l => l.LogTimeID)

                <div class="row">
                    <div class="col-md-2">@Html.Label("EmployeeNo")</div>
                    <div class="col-md-5">@Html.DisplayFor(u => u.EmployeeNo, new { Class = "form-control" })</div>
                </div>

                <div class="mt10 row">
                    <div class="col-md-2">@Html.Label("LoggedTime")</div>
                    <div class="col-md-5">@Html.EditorFor(l => l.LoggedTime, new { Class = "form-control datetimepicker" })</div>
                    <div class="col-md-2">@Html.ValidationMessageFor(u => u.LoggedTime)</div>
                </div>

                <div class="mt10 row">
                    <div class="col-md-2">@Html.Label("LogType")</div>
                    <div class="col-md-6">
                        @Html.RadioButtonFor(l => l.LogType, LogType.Work, new { @id = "rdoWork" })
                        <label for="rdoWork">Work</label>
                        @Html.RadioButtonFor(l => l.LogType, LogType.Tea, new { @id = "rdoTea" })
                        <label for="rdoTea">Tea</label>
                        @Html.RadioButtonFor(l => l.LogType, LogType.Lunch, new { @id = "rdoLunch" })
                        <label for="rdoLunch">Lunch</label>
                        @Html.RadioButtonFor(l => l.LogType, LogType.Others, new { @id = "rdoOthers" })
                        <label for="rdoOthers">Others</label>
                    </div>
                    <div class="col-md-2">@Html.ValidationMessageFor(u => u.LogType)</div>
                </div>

                <div class="mt10 row">
                    <div class="col-md-2">@Html.Label("InTime")</div>
                    <div class="col-md-6">
                        @Html.RadioButtonFor(l => l.IsInTime, IsInTime.True, new { @id = "rdoTrue" })
                        <label for="rdoTrue">In</label>
                        @Html.RadioButtonFor(l => l.IsInTime, IsInTime.False, new { @id = "rdoFalse" })
                        <label for="rdoFalse">Out</label>
                    </div>
                </div>

                <input type="submit" value="Submit" class="mt10 btn btn-primary" /><span>&nbsp;&nbsp;</span>
                @Html.ActionLink("Back", "Index", null, new { @class = "mt10 btn btn-primary" })

                if (!string.IsNullOrEmpty(@Model.Error))
                {
                    <div class="mt10 row">
                        <div class="col-md-5 alert-danger">@Model.Error</div>
                    </div>
                }
            }
            <br />
        </div>
    </div>
</div>
